//
//  debug.xcconfig
//  Letscode
//
//  Created by Tiago Almeida de Oliveira on 24/03/23.
//  Copyright © 2023 Tiago A. de Oliveira. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = https:/$()/api.weatherapi.com/v1
API_KEY = 9704ef89af5d45d28cb164936232403
