//
//  Release.xcconfig
//  Quakes
//
//  Created by Tiago Oliveira on 09/03/23.
//  Copyright © 2023 Tiago A. de Oliveira. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Quakes/Pods-Quakes.release.xcconfig"

SERVER_URL = https:/$()/earthquake.usgs.gov/earthquakes/feed/
